@{
    ViewData["Title"] = "Error";
}
<style>
    .conteudo {
        padding-left: 10px;
    }
</style>

<div class="text-center conteudo">
    <h3 class="text-danger">Ops</h3>
    <h4 class="text-danger">Não conseguimos encontrar nenhum documento com este título</h4>
</div>